{
  "channel": "all",
  "discordtoken": "insert Discord here",
  "telegramtoken": "insert Telegram token here",
  "telegramChatId": "all",
  "screenshotsLocation": "file path to where the screenshots folder is for MAD"
}